<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="description" content="Robolaire, el robot poeta">
    <meta name="keywords" content="versos,estrofas,poemas,poema de ips">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script data-ad-client="ca-pub-7360413797513350" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>
  <body>
    <div id="root"></div>

    <noscript>
      For full functionality of this site it is necessary to enable JavaScript.
      Here are the <a href="http://www.enable-javascript.com/" target="_blank">
      instructions how to enable JavaScript in your web browser</a>.
    </noscript>

    <script src="/javascripts/main.js" type="application/javascript"></script>
  </body>
</html>
