@import "bootstrap";

html,
body {
  height: 100%;
}

html {
  font-size: 10px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.container-fluid {
  flex-grow: 1;
}

.spinner-border {
  color: $secondary;
}
